.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}
.scroll-container::-webkit-scrollbar-track {
  background-color: black;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
